.card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

}
.card {
    width: 200px;
    height: fit-content;
    margin: 5px;
    align-items: flex-start;
}
.card-content {
    background-color: darkorange;
    
}