.card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2px;
    align-items: center;
}
.card {
    flex-grow: 3;
    width: auto;
    max-height: 100px;
    margin: 3px;
    align-items: flex-start;
}

.card-content {
    background-color: darkorange;
    height: 100%;
    
}

.card-content img{
    height: 100%;
}